img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
nav {
  background-image: linear-gradient(
    to right top,
    #f8cc8c,
    #f9c385,
    #f9ba80,
    #f9b07b,
    #f9a778,
    #fba27b,
    #fc9d7f,
    #fc9884,
    #fd988f,
    #fd989b,
    #fc99a6,
    #f99bb0
  );
}
.search {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.nav-link {
  font-size: 20px;
}
