img {
  width: 1000px;
}
main {
  text-align: center;
  background-image: linear-gradient(
    to right,
    #f9db2c,
    #fac61f,
    #fab217,
    #f79d17,
    #f3881b,
    #f07a1e,
    #ec6c22,
    #e85e26,
    #e55329,
    #e2482b,
    #df3b2e,
    #db2d31
  );
}
button {
  background-color: #2d277f;
  color: white;
  padding: 30px;
}
section {
  height: 80vh;
}
