<footer
  class="d-flex flex-wrap justify-content-center align-items-center border-top"
>
  <div class="col-md-4 d-flex justify-content-center align-items-center">
    <a
      routerLink="/"
      class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
    >
      <img src="logo.jpeg" />
    </a>
    <span class="mb-3 mb-md-0 text-body-secondary">
      Motorccl Doaine ©Corinne Mainardi - Epicode
    </span>
  </div>
  <div class="col-md-4 text-center">
    <h5>Contatti</h5>
    <p><i class="bi bi-envelope"></i> motordoaine&#64;gmail.com</p>
    <p><i class="bi bi-telephone"></i> +06 993343</p>
    <p><i class="bi bi-geo"></i> Via Boccea 589, 00166 Roma - Rm</p>
  </div>

  <ul class="nav col-md-4 list-unstyled d-flex justify-content-center">
    <li class="ms-3">
      <a
        class="text-body-secondary"
        href="https://www.instagram.com/boccea_moto/"
      >
        <i class="bi bi-instagram fs-3 text-dark"></i>
      </a>
    </li>
    <li class="ms-3">
      <a href="https://www.facebook.com/BocceaMotoRoma/?locale=it_IT">
        <i class="bi bi-facebook fs-3 text-dark ps-3 me-5"></i>
      </a>
    </li>
  </ul>
</footer>
