img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
p {
  font-size: 12px;
}
footer {
  background-image: linear-gradient(
    to right top,
    #a21f5a,
    #9f2b67,
    #9b3673,
    #95407e,
    #8f4988,
    #864e8e,
    #7c5294,
    #725698,
    #61589b,
    #4e5a9c,
    #385b9c,
    #155c9a
  );
}
