.unavailable {
  background-color: #ff999a;
}
.available {
  background-color: #c2e2bc;
}
.cross {
  color: red;
  font-size: 30px;
}
.check {
  color: green;
  font-size: 30px;
}
.header-pages {
  text-align: center;
}
